/* portfolio.html */
body.portfolio#header-container, body.portfolio#main-container {
    width: 640px;
  }

body.contact#header-container, body.contact#main-container {
    width: 640px;
}

ul.box-set {
    column-count: 2;
    column-gap: 20px;
}

ul.box-set img {
    width: 150px;
}

figcaption {
     display: block;
     position: absolute;
     bottom: 10px;
     background-color: #4aaaa5;
     color: #eee;
     width: 100%;
     text-align: center;
     padding-top: 0.25em;
     padding-bottom: 0.25em;
 }

 figure {
     margin: 10px;
     position: relative;
     top: 0;
     left: 0;
     display: inline-block;
 }

 /* contact.html */
 form#contactform label {
     display: block;
 }

 form#contactform input[type-text], form#contactform textarea {
     width: 100%;
 }

 form#contactform textarea {
     height: 12em;
 }

 form#contactForm input[type=submit] {
	margin-top: 1.5em;
	background-color: #4aaaa5;
	color: #eee;
	padding: 0.3em 1.2em;
	border: none;
}